<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleAPIKey</key>
	<string>AIzaSyApTnh0thpYzL5n1WzHZmt9Gfk91mzYLgY</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>BalooBhaina2-Regular.ttf</string>
		<string>BalooBhaina2-Medium.ttf</string>
		<string>BalooBhaina2-Bold.ttf</string>
		<string>BalooBhaina2-SemiBold.ttf</string>
		<string>BalooBhaina2-ExtraBold.ttf</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access photo library to save images!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access photo library to save images!</string>
</dict>
</plist>
